Repository WildCodeSchool/2023-11-wns-bleu-g4, pull requests merged in 2024-06, with the labels that each got.

#59 Features/user can create an account
  backend/src/entities/User.ts
  frontend/src/features/auth/signup/SignupForm.tsx
Labels: 🎁 Feature, 🚪 Backend, 🪟 Frontend

#60 Create Agency Entity
  backend/src/db.ts
  backend/src/entities/Agency.ts
  backend/src/resetDb.ts
  backend/src/resolvers/AgencyResolver.ts
  backend/src/schema.ts
Labels: 🎁 Feature, 🚪 Backend

#67 Feature/customer list
  frontend/package-lock.json
  frontend/package.json
  frontend/src/config/ToastConfig.ts
  frontend/src/features/admin/helpers/dummyCustomers.ts
  frontend/src/features/admin/helpers/dummyProducts.ts
  frontend/src/features/admin/helpers/tableHeaders.ts
  frontend/src/features/admin/table/AdminTableFooter.tsx
  frontend/src/features/admin/table/CustomerTableBody.tsx
  frontend/src/features/admin/table/OrderTableBody.tsx
  frontend/src/features/admin/table/ProductTableBody.tsx
  frontend/src/features/admin/table/TableFooter.tsx
  frontend/src/features/admin/types.ts
  frontend/src/features/auth/signup/SignupForm.tsx
  frontend/src/features/navigation/components/SideNavbar.tsx
  frontend/src/layouts/LayoutAdmin.tsx
  frontend/src/pages/admin/customers/index.tsx
  frontend/src/pages/admin/orders/index.tsx
  frontend/src/pages/admin/products/index.tsx
  frontend/src/pages/signup.tsx
  frontend/src/shared/components/ui/Button.tsx
  frontend/src/shared/components/ui/Card.tsx
Labels: 🪟 Frontend

#68 quete docker hub
  .github/workflows/playwright.yml
Labels: 🤖 Test

#72 Feature/orderdetails dropdown
  frontend/package.json
  frontend/public/static/locales/en/Bento.json
  frontend/public/static/locales/en/Footer.json
  frontend/public/static/locales/en/LoginForm.json
  frontend/public/static/locales/en/Navbar.json
  frontend/public/static/locales/en/OrderDetailsDropdown.json
  frontend/public/static/locales/en/OrderTableBody.json
  frontend/public/static/locales/en/ProductTableBody.json
  frontend/public/static/locales/en/SignupForm.json
  frontend/public/static/locales/en/SubNav.json
  frontend/public/static/locales/en/TableFooter.json
  frontend/public/static/locales/en/Welcome.json
  frontend/public/static/locales/fr/Bento.json
  frontend/public/static/locales/fr/Footer.json
  frontend/public/static/locales/fr/LoginForm.json
  frontend/public/static/locales/fr/Navbar.json
  frontend/public/static/locales/fr/OrderDetailsDropdown.json
  frontend/public/static/locales/fr/OrderTableBody.json
  frontend/public/static/locales/fr/ProductTableBody.json
  frontend/public/static/locales/fr/SignupForm.json
  frontend/public/static/locales/fr/SubNav.json
  frontend/public/static/locales/fr/SubNav_old.json
  frontend/public/static/locales/fr/TableFooter.json
  frontend/public/static/locales/fr/Welcome.json
  frontend/src/features/admin/helpers/dummyCustomers.ts
  frontend/src/features/admin/helpers/dummyOrders.ts
  frontend/src/features/admin/helpers/tableHeaders.ts
  frontend/src/features/admin/orderDetailsDropdown.tsx
  frontend/src/features/admin/table/CustomerTableBody.tsx
  frontend/src/features/admin/table/OrderTableBody.tsx
  frontend/src/features/admin/table/ProductTableBody.tsx
  frontend/src/features/admin/table/TableFooter.tsx
  frontend/src/features/navigation/components/SideNavbar.tsx
  frontend/src/layouts/LayoutAdmin.tsx
  frontend/src/pages/admin/customers/index.tsx
  frontend/src/pages/admin/orders/index.tsx
  frontend/src/pages/admin/products/index.tsx
  frontend/src/shared/components/LanguageSwitcher.tsx
Labels: 🎁 Feature, 🪟 Frontend

#70 Add picture entitie
  backend/src/db.ts
  backend/src/entities/Product.ts
  backend/src/entities/Product_picture.ts
  backend/src/resetDb.ts
  backend/src/resolvers/ProductResolver.ts
  backend/src/resolvers/Product_pictureResolver.ts
  backend/src/schema.ts
Labels: 🚪 Backend

#74 Features/booking entity and resolver
  backend/src/db.ts
  backend/src/entities/Agency.ts
  backend/src/entities/Booking.ts
  backend/src/entities/User.ts
  backend/src/enum/StatusBooking.ts
  backend/src/resetDb.ts
  backend/src/resolvers/BookingResolver.ts
  backend/src/schema.ts
  backend/src/types.ts
Labels: 🎁 Feature, 🚪 Backend

#81 docker deploy ci
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-production.yml
Labels: 🤖 Test

#77 Feature/product delete modal
  frontend/package-lock.json
  frontend/src/config/theme.tsx
  frontend/src/features/admin/modal/productDeleteModal.tsx
  frontend/src/features/admin/table/OrderTableBody.tsx
  frontend/src/features/admin/table/ProductTableBody.tsx
  frontend/src/features/admin/table/orderDetailsDropdown.tsx
  frontend/src/features/admin/types.ts
  frontend/src/features/admin/ui/Modal.ts
Labels: 🎁 Feature, 🪟 Frontend

#88 Feature/backoffice product details
  frontend/src/features/admin/helpers/dummyProducts.ts
  frontend/src/features/admin/helpers/tableHeaders.ts
  frontend/src/features/admin/modal/ProductStockModal.tsx
  frontend/src/features/admin/modal/productDeleteModal.tsx
  frontend/src/features/admin/modal/productUpdateModal.tsx
  frontend/src/features/admin/product/ProductDetails.tsx
  frontend/src/features/admin/product/ProductStocks.tsx
  frontend/src/features/admin/table/CustomerTableBody.tsx
  frontend/src/features/admin/table/OrderTableBody.tsx
  frontend/src/features/admin/table/ProductStockTableBody.tsx
  frontend/src/features/admin/table/ProductTableBody.tsx
  frontend/src/features/admin/types.ts
  frontend/src/pages/admin/products/[id]/index.tsx
  frontend/src/pages/admin/products/index.tsx
Labels: 🎁 Feature, 🪟 Frontend

#76 Features/booking item entity and resolver
  backend/src/db.ts
  backend/src/entities/Booking.ts
  backend/src/entities/BookingItem.ts
  backend/src/entities/Product.ts
  backend/src/enum/BookingItemStatus.ts
  backend/src/resetDb.ts
  backend/src/resolvers/BookingItemResolver.ts
  backend/src/schema.ts
  backend/src/types.ts
  frontend/src/graphql/generated/schema.ts
Labels: 🎁 Feature, 🚪 Backend

#85 Features/front codegen
  backend/src/resolvers/ReviewResolver.ts
  frontend/src/graphql/Agency/CreateAgency.gql
  frontend/src/graphql/Agency/DeleteAgency.gql
  frontend/src/graphql/Agency/GetAgencyById.gql
  frontend/src/graphql/Agency/GetAllAgencies.gql
  frontend/src/graphql/Agency/UpdateAgency.gql
  frontend/src/graphql/Booking/.gitkeep
  frontend/src/graphql/Booking/CancelBooking.gql
  frontend/src/graphql/Booking/CreateBooking.gql
  frontend/src/graphql/Booking/GetAllBooking.gql
  frontend/src/graphql/Booking/GetBookingById.gql
  frontend/src/graphql/Booking/UpdateBooking.gql
  frontend/src/graphql/Category/.gitkeep
  frontend/src/graphql/Category/CreateCategory.gql
  frontend/src/graphql/Category/DeleteCategory.gql
  frontend/src/graphql/Category/GetAllCategories.gql
  frontend/src/graphql/Category/GetCategoryById.gql
  frontend/src/graphql/Category/UpdateCategory.gql
  frontend/src/graphql/Product/CreateProduct.gql
  frontend/src/graphql/Product/DeleteProduct.gql
  frontend/src/graphql/Product/GetAllProducts.gql
  frontend/src/graphql/Product/GetProductById.gql
  frontend/src/graphql/Product/UpdateProduct.gql
  frontend/src/graphql/ProductCode/.gitkeep
  frontend/src/graphql/ProductCode/GetAllProduct_code.gql
  frontend/src/graphql/ProductCode/GetProductCodesByStatus.gql
  frontend/src/graphql/ProductPicture/.gitkeep
  frontend/src/graphql/ProductPicture/CreateProduct_picture.gql
  frontend/src/graphql/ProductPicture/DeleteProduct_picture.gql
  frontend/src/graphql/ProductPicture/GetAllProduct_pictures.gql
  frontend/src/graphql/ProductPicture/UpdateProduct_picture.gql
  frontend/src/graphql/Rating/.gitkeep
  frontend/src/graphql/Review/CreateReview.gql
  frontend/src/graphql/Review/DeleteReview.gql
  frontend/src/graphql/Review/GetAllReviews.gql
  frontend/src/graphql/Review/GetReviewById.gql
  frontend/src/graphql/Review/GetReviewsByProductId.gql
  frontend/src/graphql/Review/GetReviewsByUserId.gql
  frontend/src/graphql/Review/UpdateReview.gql
  frontend/src/graphql/SubCategory/CreateSubCategory.gql
  frontend/src/graphql/SubCategory/DeleteSubCategory.gql
  frontend/src/graphql/SubCategory/GetAllSubCategories.gql
  frontend/src/graphql/SubCategory/GetSubCategoryById.gql
  frontend/src/graphql/SubCategory/UpdateSubCategory.gql
  frontend/src/graphql/User/UpdateProfile.gql
  frontend/src/graphql/generated/schema.ts
Labels: 🪟 Frontend

#112 Refacto/backend entities
  backend/src/db.ts
  backend/src/entities/Agency.ts
  backend/src/entities/Booking.ts
  backend/src/entities/BookingItem.ts
  backend/src/entities/Brand.ts
  backend/src/entities/Category.ts
  backend/src/entities/ParentCategory.ts
  backend/src/entities/Product.ts
  backend/src/entities/Product_code.ts
  backend/src/entities/Product_picture.ts
  backend/src/entities/Review.ts
  backend/src/entities/User.ts
  backend/src/resetDb.ts
  backend/src/resolvers/BookingItemResolver.ts
  backend/src/resolvers/BookingResolver.ts
  backend/src/resolvers/BrandResolver.ts
  backend/src/resolvers/CategoryResolver.ts
  backend/src/resolvers/ParentCategoryResolver.ts
  backend/src/resolvers/ProductResolver.ts
  backend/src/resolvers/ReviewResolver.ts
  backend/src/resolvers/SubCategoryResolver.ts
  backend/src/schema.ts
  backend/src/types.ts
Labels: 💡Refactor, 🚪 Backend
