Repository WildCodeSchool/2023-11-wns-bleu-g4, pull requests merged in 2024-10, with the labels that each got.

#180 docs: ✏️ Update of readme
  README.md
Labels: 📘Docs

#187 Refactor/loading
  frontend/.eslintrc.json
  frontend/next-env.d.ts
  frontend/src/context/UserDataContext.tsx
  frontend/src/features/account/profile/OrderInfos.tsx
  frontend/src/features/account/profile/components/UserInfos.tsx
  frontend/src/features/account/profile/modal/CancelBookingModal.tsx
  frontend/src/features/account/profile/modal/UserInfoModal.tsx
  frontend/src/features/account/profile/modal/UserPasswordModal.tsx
  frontend/src/features/account/table/UserOrdersTable.tsx
  frontend/src/features/admin/categories/modal/ParentCategoryCreateModal.tsx
  frontend/src/features/admin/categories/modal/ParentCategoryUpdateModal.tsx
  frontend/src/features/admin/categories/table/ParentCategoryTableBody.tsx
  frontend/src/features/admin/characteristic/CharacteristicCreateModal.tsx
  frontend/src/features/admin/characteristic/CharacteristicTableBody.tsx
  frontend/src/features/admin/characteristic/CharacteristicUpdateModal.tsx
  frontend/src/features/admin/product/ProductStocks.tsx
  frontend/src/features/admin/product/table/ProductStockTableBody.tsx
  frontend/src/features/admin/product/table/ProductTableBody.tsx
  frontend/src/features/home/categories/CardItemCarousel.tsx
  frontend/src/features/navigation/components/SideNavbar.tsx
  frontend/src/features/product/detailsComponent/DetailsComponent.tsx
  frontend/src/features/product/galeryComponent/GaleryComponent.tsx
  frontend/src/features/shop/product_grid/Productgrid.tsx
  frontend/src/layouts/Layout.tsx
  frontend/src/pages/admin/characteristics/index.tsx
  frontend/src/pages/products/index.tsx
  frontend/src/pages/shop.tsx
  frontend/src/pages/signup.tsx
  frontend/src/shared/components/SearchBar.tsx
  frontend/src/shared/utils/formatDate.ts
Labels: 💡Refactor

#191 docs: ✏️ Add of README.md for deploy
  README.md
  gateway/README.md
Labels: 📘Docs

#194 fix logout issue
  frontend/src/context/UserDataContext.tsx
Labels: 🔧 Fix, 🪟 Frontend

#192 Update of backoffice with darkmode
  .github/workflows/e2e-tests.yml
  backend/src/db.ts
  e2e-tests/playwright.config.ts
  frontend/src/features/admin/brand/BrandTableBody.tsx
  frontend/src/features/admin/categories/table/CategoryTableBody.tsx
  frontend/src/features/admin/categories/table/ParentCategoryTableBody.tsx
  frontend/src/features/admin/characteristic/CharacteristicTableBody.tsx
  frontend/src/features/admin/orders/OrderDetailsRow.tsx
  frontend/src/features/admin/orders/OrderDetailsTable.tsx
  frontend/src/features/admin/orders/OrderTableBody.tsx
  frontend/src/features/admin/product/ProductDetails.tsx
  frontend/src/features/admin/product/ProductPictures.tsx
  frontend/src/features/admin/product/table/ProductStockDetails.tsx
  frontend/src/features/admin/product/table/ProductStockTableBody.tsx
  frontend/src/features/admin/product/table/ProductTableBody.tsx
  frontend/src/features/admin/shared/SearchAdmin.tsx
  frontend/src/features/admin/shared/TableFooter.tsx
  frontend/src/features/admin/table/CustomerTableBody.tsx
  frontend/src/pages/admin/categories/index.tsx
Labels: 🎨 Style, 💡Refactor

#193 fix responsive product grid
  frontend/src/features/shop/product_card/ProductCard.tsx
  frontend/src/features/shop/product_grid/Productgrid.tsx
Labels: 🎨 Style

#196 feat: 🎸 Add of backend logic to reset user password
  backend/src/resolvers/UserResolver.ts
Labels: 🎁 Feature, 🚪 Backend

#200 fix click product
  frontend/src/features/shop/product_card/ProductCard.tsx
Labels: 🔧 Fix

#201 Logo manufacture
  backend/src/data/manufacture/AKU.webp
  backend/src/data/manufacture/BIG AGNES.webp
  backend/src/data/manufacture/BILLABONG.webp
  backend/src/data/manufacture/COLUMBIA.webp
  backend/src/data/manufacture/COTOPAXI.webp
  backend/src/data/manufacture/CRAFT.webp
  backend/src/data/manufacture/DAEHLIE.webp
  backend/src/data/manufacture/DEUTER.webp
  backend/src/data/manufacture/DYNAFIT.webp
  backend/src/data/manufacture/FERRINO.webp
  backend/src/data/manufacture/GREGORY.webp
  backend/src/data/manufacture/GUIDETTI.webp
  backend/src/data/manufacture/HAGLÖFS.webp
  backend/src/data/manufacture/HOKA ONE ONE.webp
  backend/src/data/manufacture/HUSKY.webp
  backend/src/data/manufacture/JAMET.webp
  backend/src/data/manufacture/KARI TRAA.webp
  backend/src/data/manufacture/KAYLAND.webp
  backend/src/data/manufacture/LA SPORTIVA.webp
  backend/src/data/manufacture/LEKI.webp
  backend/src/data/manufacture/LOWA.webp
  backend/src/data/manufacture/MASTERS.webp
  backend/src/data/manufacture/MERRELL.webp
  backend/src/data/manufacture/MIZUNO.webp
  backend/src/data/manufacture/MSR.webp
  backend/src/data/manufacture/NEMO EQUIPMENT.webp
  backend/src/data/manufacture/OAKLEY.webp
  backend/src/data/manufacture/ODLO.webp
  backend/src/data/manufacture/ON RUNNING.webp
  backend/src/data/manufacture/OSPREY.webp
  backend/src/data/manufacture/PATAGONIA.webp
  backend/src/data/manufacture/PICTURE.webp
  backend/src/data/manufacture/RAIDLIGHT.webp
  backend/src/data/manufacture/ROXY.webp
  backend/src/data/manufacture/SALEWA.webp
  backend/src/data/manufacture/SALOMON.webp
  backend/src/data/manufacture/SAMAYA.webp
  backend/src/data/manufacture/SCOTT.webp
  backend/src/data/manufacture/SEA TO SUMMIT.webp
  backend/src/data/manufacture/SIERRA DESIGNS.webp
  backend/src/data/manufacture/SWIX.webp
  backend/src/data/manufacture/THE NORTH FACE.webp
  backend/src/data/manufacture/TSL.webp
  backend/src/resetDb.ts
Labels: 🎁 Feature

#209 Update general UI Layout
  frontend/src/config/theme.tsx
  frontend/src/features/home/faq/FaqSection.tsx
  frontend/src/features/home/welcome/Welcome.tsx
  frontend/src/features/navigation/components/Navbar.tsx
  frontend/src/features/navigation/components/SubNavbar.tsx
  frontend/src/layouts/Layout.tsx
  frontend/src/styles/globals.css
Labels: 🎨 Style, 💡Refactor, 🪟 Frontend

#211 Update mobile navbar
  frontend/src/features/navigation/components/Navbar.tsx
Labels: 🎨 Style, 💡Refactor, 🪟 Frontend

#175 Feat/test-jest
  backend/Dockerfile
  backend/__tests__/AgencyResolver.test.ts
  backend/__tests__/helpers/getAdminContext.ts
  backend/__tests__/helpers/getAdminJWT.ts
  backend/__tests__/operations/createAgency.ts
  backend/__tests__/operations/getAllAgencies.ts
  backend/package-lock.json
  backend/package.json
  backend/src/data/ekosport/allProducts.json
  backend/src/resetDb.ts
  frontend/.eslintrc.json
  frontend/Dockerfile
  frontend/jest.config.ts
  frontend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/account/components/UserAvatar.test.tsx
  frontend/src/__tests__/account/components/UserInfos.test.tsx
  frontend/src/__tests__/account/components/UserPassword.test.tsx
  frontend/src/__tests__/account/components/__snapshots__/UserAvatar.test.tsx.snap
  frontend/src/__tests__/account/functions/TimeStampToDayDuration.test.tsx
  frontend/src/__tests__/account/functions/TransformDate.test.tsx
  frontend/src/__tests__/auth/components/LoginForm.test.tsx
  frontend/src/__tests__/auth/components/__snapshots__/LoginForm.test.tsx.snap
  frontend/src/__tests__/auth/functions/validatePassword.test.tsx
  frontend/src/config/theme.tsx
  frontend/src/features/account/helpers/TimeStampToDayDuration.tsx
  frontend/src/features/account/helpers/data.json
  frontend/src/features/account/profile/modal/UserInfoModal.tsx
  frontend/src/features/admin/orders/OrderTableBody.tsx
  frontend/src/features/admin/product/table/ProductStockTableBody.tsx
  frontend/src/middleware.ts
  frontend/src/styles/globals.css
  frontend/tsconfig.json
Labels: 🪟 Frontend

#220 refactor: 💡 Update of e2e tests workflow and config
  .github/workflows/e2e-tests.yml
  e2e-tests/src/login.spec.ts
Labels: 🤖 Test, ⚡Perfs

#225 change showRepPass by showPass
  frontend/src/features/auth/signup/SignupForm.tsx
Labels: 🔧 Fix, 🪟 Frontend

#226 fix/order detail access
  backend/src/resolvers/BookingResolver.ts
  frontend/src/features/account/helpers/TimeStampToDayDuration.tsx
Labels: 🔧 Fix, 🪟 Frontend

#229 Update signup page
  frontend/src/features/account/helpers/TimeStampToDayDuration.tsx
  frontend/src/features/auth/login/LoginForm.tsx
  frontend/src/features/auth/signup/ConfirmationMailSendCard/ConfirmationMailSendCard.tsx
  frontend/src/features/auth/signup/SignupForm.tsx
  frontend/src/features/navigation/components/Footer.tsx
  frontend/src/pages/account/orders/[id].tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/signup.tsx
  frontend/src/shared/components/ui/Card.tsx
Labels: 🎨 Style, 🪟 Frontend

#228 Fix/basket clear
  frontend/src/context/BookingDataContext.tsx
  frontend/src/features/auth/signup/ConfirmationMailSendCard/ConfirmationMailSendCard.tsx
  frontend/src/features/navigation/components/Navbar.tsx
  frontend/src/features/navigation/components/SubNavbar.tsx
Labels: 🔧 Fix

#216 Create EsLint workflow
  .github/workflows/eslint.yml
Labels: ⚡Perfs

#215 Filter
  frontend/src/context/UserDataContext.tsx
  frontend/src/features/shop/filters/ProductFilter.tsx
  frontend/src/features/shop/filters/TopFilters.tsx
  frontend/src/graphql/Product/generated/getAllProducts.generated.ts
  frontend/src/graphql/Product/getAllProducts.gql
  frontend/src/pages/products/index.tsx
  frontend/src/pages/shop.tsx
  frontend/src/styles/globals.css
Labels: 🎁 Feature

#231 update basket ui and fix array items
  backend/src/resetDb.ts
  backend/src/resolvers/BookingResolver.ts
  frontend/public/images/validate.gif
  frontend/src/context/BookingDataContext.tsx
  frontend/src/features/product/detailsComponent/components/ProductDescription.tsx
  frontend/src/features/product/detailsComponent/components/ProductHeader.tsx
  frontend/src/graphql/Booking/CreateBooking.gql
  frontend/src/graphql/Booking/generated/CreateBooking.generated.ts
  frontend/src/graphql/Product/generated/getProductsDetails.generated.ts
  frontend/src/graphql/Product/getProductsDetails.gql
  frontend/src/graphql/generated/schema.ts
  frontend/src/pages/basket.tsx
Labels: 🔧 Fix, 💡Refactor, 🚪 Backend, 🪟 Frontend
