Repository WildCodeSchool/2023-11-wns-bleu-g4, pull requests merged in 2024-04, with the labels that each got.

#25 Feature/navbar component
  frontend/public/svg/darkLogo.svg
  frontend/public/svg/lightLogo.svg
  frontend/src/config/theme.tsx
  frontend/src/features/navigation/Navbar.tsx
  frontend/src/features/navigation/navbar/Navbar.tsx
  frontend/src/layouts/Layout.tsx
  frontend/src/pages/_app.tsx
  frontend/src/shared/components/SearchBar.tsx
  frontend/src/shared/components/ThemeToggle.tsx
  frontend/src/shared/components/ThemedLogo.tsx
  frontend/src/shared/components/ui/Button.tsx
  frontend/src/shared/components/ui/Switch.tsx
Labels: 🪟 Frontend

#26 #5 refacto size navbar
  frontend/src/features/navigation/navbar/Navbar.tsx
  frontend/src/shared/components/SearchBar.tsx
  frontend/src/shared/components/ThemeToggle.tsx
Labels: 💡Refactor

#34 Feature/user entity&resolver
  backend/package.json
  backend/src/auth.ts
  backend/src/entities/User.ts
  backend/src/resetDb.ts
  backend/src/resolvers/TemplateResolver.ts
  backend/src/resolvers/UserResolver.ts
Labels: 🎁 Feature, 🚪 Backend

#36 refactor: 💡 Update subNav #22
  frontend/src/features/navigation/components/SubNavbar.tsx
Labels: 🪟 Frontend
