Repository WildCodeSchool/2023-11-wns-bleu-g4, pull requests merged in 2024-08, with the labels that each got.

#150 Refacto for day picker, disable date and add toast, fix some check
  backend/src/resetDb.ts
  backend/src/resolvers/BookingResolver.ts
  backend/src/resolvers/ProductCodeResolver.ts
  frontend/i18n.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/static/locales/en/AddToBasketButton.json
  frontend/public/static/locales/en/productDetails.json
  frontend/public/static/locales/fr/AddToBasketButton.json
  frontend/public/static/locales/fr/productDetails.json
  frontend/src/context/ProductPageContext.tsx
  frontend/src/features/home/categories/CardItem.tsx
  frontend/src/features/home/categories/CardItemCarousel.tsx
  frontend/src/features/home/faq/FaqSection.tsx
  frontend/src/features/home/faq/components/FaqComponent.tsx
  frontend/src/features/home/faq/components/FaqSideTitle.tsx
  frontend/src/features/home/infos/BentoGrid.tsx
  frontend/src/features/home/welcome/Welcome.tsx
  frontend/src/features/home/welcome/components/HeroCarousel.tsx
  frontend/src/features/navigation/components/BasketDrawer.tsx
  frontend/src/features/navigation/components/Footer.tsx
  frontend/src/features/navigation/components/Navbar.tsx
  frontend/src/features/navigation/components/SubNavbar.tsx
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/detailsComponent/DetailsComponent.tsx
  frontend/src/features/product/detailsComponent/components/AddToBasketButton.tsx
  frontend/src/features/product/detailsComponent/components/DateSelector.tsx
  frontend/src/features/product/detailsComponent/components/ProductDescription.tsx
  frontend/src/features/product/detailsComponent/components/ProductPricing.tsx
  frontend/src/features/product/detailsComponent/components/SizeSelector.tsx
  frontend/src/features/product/galeryComponent/GaleryComponent.tsx
  frontend/src/features/product/rating/Rating.tsx
  frontend/src/features/shop/Pagination.tsx
  frontend/src/features/shop/filters/TopFilters.tsx
  frontend/src/features/shop/product_card/ProductCard.tsx
  frontend/src/graphql/Agency/GetAgencyById.gql
  frontend/src/graphql/Agency/GetAllAgencies.gql
  frontend/src/graphql/Agency/generated/GetAgencyById.generated.ts
  frontend/src/graphql/Agency/generated/GetAllAgencies.generated.ts
  frontend/src/graphql/Agency/generated/getSizeByAgencyId.generated.ts
  frontend/src/graphql/Agency/getSizeByAgencyId.gql
  frontend/src/graphql/ProductCode/checkProductAvailability.gql
  frontend/src/graphql/ProductCode/generated/checkProductAvailability.generated.ts
  frontend/src/graphql/generated/schema.ts
  frontend/src/layouts/Layout.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/basket.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/products/index.tsx
  frontend/src/shared/components/DateRangePicker.tsx
  frontend/src/shared/components/ThemedLogo.tsx
  frontend/src/shared/components/dateRangePicker/DateRangePicker.tsx
  frontend/src/shared/components/dateRangePicker/utils.ts
  frontend/src/shared/components/ui/Button.tsx
  frontend/src/styles/globals.css
Labels: 🪟 Frontend

#154 Feature/admin search
  backend/src/resolvers/BookingResolver.ts
  backend/src/resolvers/BrandResolver.ts
  backend/src/resolvers/ProductCharacteristicResolver.ts
  backend/src/resolvers/UserResolver.ts
  frontend/src/features/admin/orders/OrderDetailsStatus.tsx
  frontend/src/features/admin/shared/SearchAdmin.tsx
  frontend/src/graphql/Agency/generated/GetAgencyById.generated.ts
  frontend/src/graphql/Brand/generated/getAllBrands.generated.ts
  frontend/src/graphql/Brand/getAllBrands.gql
  frontend/src/graphql/ProductCharacteristic/generated/getAllProductCharacteristics.generated.ts
  frontend/src/graphql/ProductCharacteristic/getAllProductCharacteristics.gql
  frontend/src/graphql/User/GetAllUsers.gql
  frontend/src/graphql/User/generated/GetAllUsers.generated.ts
  frontend/src/graphql/generated/schema.ts
  frontend/src/layouts/Layout.tsx
  frontend/src/layouts/LayoutAdmin.tsx
  frontend/src/pages/admin/brands/index.tsx
  frontend/src/pages/admin/characteristics/index.tsx
  frontend/src/pages/admin/customers/index.tsx
  frontend/src/pages/admin/orders/index.tsx
  frontend/src/pages/admin/products/index.tsx
  frontend/src/pages/products/index.tsx
Labels: 🎁 Feature, 🪟 Frontend

#157 Feature/110 product details
  backend/src/entities/ProductCode.ts
  backend/src/resolvers/ProductCodeResolver.ts
  backend/src/types.ts
  frontend/src/features/admin/helpers/dummyProducts.ts
  frontend/src/features/admin/product/ProductStocks.tsx
  frontend/src/features/admin/product/modal/ProductStockModal.tsx
  frontend/src/features/admin/product/table/ProductStockTableBody.tsx
  frontend/src/features/admin/product/types.ts
  frontend/src/graphql/ProductCode/CreateProductCode.gql
  frontend/src/graphql/ProductCode/GetProductCodesByProductId.gql
  frontend/src/graphql/ProductCode/generated/CreateProductCode.generated.ts
  frontend/src/graphql/ProductCode/generated/GetProductCodesByProductId.generated.ts
  frontend/src/graphql/generated/schema.ts
  frontend/src/pages/admin/products/[id]/index.tsx
Labels: 🎁 Feature, 🚪 Backend, 🪟 Frontend

#161 Feature/160 product code crud
  backend/src/resolvers/ProductCodeResolver.ts
  frontend/src/features/admin/product/ProductDetails.tsx
  frontend/src/features/admin/product/ProductStocks.tsx
  frontend/src/features/admin/product/table/ProductStockDetails.tsx
  frontend/src/features/admin/product/table/ProductStockTableBody.tsx
  frontend/src/graphql/ProductCode/deleteProductCode.gql
  frontend/src/graphql/ProductCode/generated/deleteProductCode.generated.ts
  frontend/src/graphql/ProductCode/generated/updateProductCode.generated.ts
  frontend/src/graphql/ProductCode/updateProductCode.gql
  frontend/src/graphql/generated/schema.ts
Labels: 🎁 Feature, 🚪 Backend, 🪟 Frontend

#162 Feature/9 loading component
  frontend/public/static/locales/en/BrandTableBody.json
  frontend/public/static/locales/en/CharacteristicTableBody.json
  frontend/public/static/locales/en/CustomerTableBody.json
  frontend/public/static/locales/en/Loader.json
  frontend/public/static/locales/en/Navbar.json
  frontend/public/static/locales/en/OrderDetailsTable.json
  frontend/public/static/locales/en/ParentCategoryTableBody.json
  frontend/public/static/locales/en/ProductStockDetailsDropdown.json
  frontend/public/static/locales/en/productDetails.json
  frontend/public/static/locales/fr/BrandTableBody.json
  frontend/public/static/locales/fr/CharacteristicTableBody.json
  frontend/public/static/locales/fr/CustomerTableBody.json
  frontend/public/static/locales/fr/Loader.json
  frontend/public/static/locales/fr/Navbar.json
  frontend/public/static/locales/fr/OrderDetailsTable.json
  frontend/public/static/locales/fr/ParentCategoryTableBody.json
  frontend/public/static/locales/fr/ProductStockDetailsDropdown.json
  frontend/public/static/locales/fr/productDetails.json
  frontend/src/features/admin/brand/BrandTableBody.tsx
  frontend/src/features/admin/categories/table/CategoryTableBody.tsx
  frontend/src/features/admin/categories/table/ParentCategoryTableBody.tsx
  frontend/src/features/admin/characteristic/CharacteristicTableBody.tsx
  frontend/src/features/admin/orders/OrderTableBody.tsx
  frontend/src/features/admin/orders/types.ts
  frontend/src/features/admin/product/table/ProductTableBody.tsx
  frontend/src/features/admin/product/types.ts
  frontend/src/features/admin/table/CustomerTableBody.tsx
  frontend/src/pages/admin/brands/index.tsx
  frontend/src/pages/admin/categories/index.tsx
  frontend/src/pages/admin/characteristics/index.tsx
  frontend/src/pages/admin/customers/index.tsx
  frontend/src/pages/admin/orders/index.tsx
  frontend/src/pages/admin/products/[id]/index.tsx
  frontend/src/pages/admin/products/index.tsx
  frontend/src/shared/components/Loading.tsx
Labels: 🎁 Feature, 🪟 Frontend

#163 Feature/159 toast back office
  backend/src/entities/Product.ts
  backend/src/resetDb.ts
  backend/src/resolvers/BrandResolver.ts
  frontend/src/features/admin/brand/BrandCreateModal.tsx
  frontend/src/features/admin/brand/BrandTableBody.tsx
  frontend/src/features/admin/brand/BrandUpdateModal.tsx
  frontend/src/features/admin/categories/modal/CategoryCreateModal.tsx
  frontend/src/features/admin/categories/modal/CategoryUpdateModal.tsx
  frontend/src/features/admin/categories/modal/ParentCategoryCreateModal.tsx
  frontend/src/features/admin/categories/modal/ParentCategoryUpdateModal.tsx
  frontend/src/features/admin/categories/table/CategoryTableBody.tsx
  frontend/src/features/admin/categories/table/ParentCategoryTableBody.tsx
  frontend/src/features/admin/categories/types.ts
  frontend/src/features/admin/characteristic/CharacteristicCreateModal.tsx
  frontend/src/features/admin/characteristic/CharacteristicTableBody.tsx
  frontend/src/features/admin/characteristic/CharacteristicUpdateModal.tsx
  frontend/src/features/admin/characteristic/types.ts
  frontend/src/features/admin/helpers/query.ts
  frontend/src/features/admin/orders/OrderDetailsStatus.tsx
  frontend/src/features/admin/orders/OrderTableBody.tsx
  frontend/src/features/admin/product/ProductDetails.tsx
  frontend/src/features/admin/product/ProductPictures.tsx
  frontend/src/features/admin/product/modal/ProductCharUpdateModal.tsx
  frontend/src/features/admin/product/modal/ProductCreateModal.tsx
  frontend/src/features/admin/product/modal/ProductPictureAddModal.tsx
  frontend/src/features/admin/product/modal/ProductStockModal.tsx
  frontend/src/features/admin/product/modal/ProductUpdateModal.tsx
  frontend/src/features/admin/product/table/ProductStockDetails.tsx
  frontend/src/features/admin/product/table/ProductStockTableBody.tsx
  frontend/src/features/admin/product/table/ProductTableBody.tsx
  frontend/src/graphql/client.ts
  frontend/src/graphql/generated/schema.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/admin/brands/index.tsx
  frontend/src/pages/admin/categories/index.tsx
  frontend/src/pages/admin/characteristics/index.tsx
  frontend/src/styles/toast.css
Labels: 🎁 Feature, 🚪 Backend, 🪟 Frontend

#149 Feature/search forecast
  frontend/src/features/navigation/components/Navbar.tsx
  frontend/src/features/navigation/components/SubNavbar.tsx
  frontend/src/features/shop/Pagination.tsx
  frontend/src/features/shop/product_grid/Productgrid.tsx
  frontend/src/pages/products/index.tsx
  frontend/src/pages/shop.tsx
  frontend/src/shared/components/SearchBar.tsx
  frontend/src/shared/components/SearchSuggestions.tsx
  frontend/src/shared/components/mobile/SearchSuggestion.mobile.tsx
Labels: 🪟 Frontend

#164 Create Review manager and user context
  backend/src/entities/Review.ts
  backend/src/entities/User.ts
  backend/src/resolvers/ReviewResolver.ts
  backend/src/types.ts
  frontend/src/context/UserDataContext.tsx
  frontend/src/features/navigation/components/BasketDrawer.tsx
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/rating/Rating.tsx
  frontend/src/features/product/rating/components/ReviewCard.tsx
  frontend/src/features/product/rating/components/card/ReviewActions.tsx
  frontend/src/features/product/rating/components/card/ReviewContent.tsx
  frontend/src/features/product/rating/components/card/ReviewHeader.tsx
  frontend/src/features/product/rating/components/card/ReviewRating.tsx
  frontend/src/features/product/rating/components/form/RatingForm.tsx
  frontend/src/features/product/rating/useRatingLogic.ts
  frontend/src/graphql/Review/createReview.gql
  frontend/src/graphql/Review/deleteReview.gql
  frontend/src/graphql/Review/generated/createReview.generated.ts
  frontend/src/graphql/Review/generated/deleteReview.generated.ts
  frontend/src/graphql/Review/generated/getAllReviews.generated.ts
  frontend/src/graphql/Review/generated/getReviewsByUserId.generated.ts
  frontend/src/graphql/Review/generated/hasUserBookedProduct.generated.ts
  frontend/src/graphql/Review/generated/updateReview.generated.ts
  frontend/src/graphql/Review/getAllReviews.gql
  frontend/src/graphql/Review/getReviewsByUserId.gql
  frontend/src/graphql/Review/hasUserBookedProduct.gql
  frontend/src/graphql/Review/updateReview.gql
  frontend/src/graphql/generated/schema.ts
  frontend/src/pages/_app.tsx
  frontend/src/shared/utils/formatDate.ts
Labels: 🎁 Feature, 🚪 Backend, 🪟 Frontend

#171 Feature/158 booking status auto
  backend/package-lock.json
  backend/package.json
  backend/src/checkLateBookings.ts
Labels: 🚪 Backend
