Repository WildCodeSchool/2023-11-wns-bleu-g4, pull requests merged in 2024-05, with the labels that each got.

#38 create login form
  frontend/src/config/theme.tsx
  frontend/src/features/auth/login/.gitkeep
  frontend/src/features/auth/login/LoginForm.tsx
  frontend/src/graphql/User/GetProfile.gql
  frontend/src/graphql/User/Login.gql
  frontend/src/graphql/generated/schema.ts
  frontend/src/layouts/Layout.tsx
  frontend/src/pages/login.tsx
  frontend/src/shared/components/ui/Button.tsx
  frontend/src/shared/components/ui/Card.tsx
Labels: wip

#39 Feature/product entity resolver
  backend/src/entities/Category.ts
  backend/src/entities/Product.ts
  backend/src/entities/User.ts
  backend/src/resolvers/ProductResolver.ts
Labels: 🎁 Feature, 🚪 Backend

#41 Feature/smtp provider
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/env.ts
  backend/src/mailer.ts
Labels: 🎁 Feature, 🚪 Backend

#46 Refacto mobile navbar
  frontend/src/features/navigation/components/Navbar.tsx
  frontend/src/features/navigation/components/SubNavbar.tsx
  frontend/src/features/navigation/components/TopNavItems.tsx
  frontend/src/shared/components/SearchBar.tsx
  frontend/src/shared/components/ui/Drawer.tsx
Labels: 💡Refactor, 🪟 Frontend

#45 Feature/sub category entity resolver
  .husky/pre-commit
  backend/src/db.ts
  backend/src/entities/Category.ts
  backend/src/entities/SubCategory.ts
  backend/src/index.ts
  backend/src/resolvers/ProductResolver.ts
  backend/src/resolvers/ReviewResolver.ts
  backend/src/resolvers/SubCategoryResolver.ts
  backend/src/schema.ts
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/svg/.gitkeep
  frontend/src/shared/components/.gitkeep
Labels: 🎁 Feature, 🚪 Backend

#48 Feature/category entity resolver
  backend/src/db.ts
  backend/src/entities/Category.ts
  backend/src/resetDb.ts
  backend/src/resolvers/CategoryResolver.ts
  backend/src/schema.ts
Labels: 🎁 Feature, 🚪 Backend

#44 Features/login component
  frontend/src/config/ToastConfig.ts
  frontend/src/config/theme.tsx
  frontend/src/features/auth/login/LoginForm.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/login.tsx
  frontend/src/shared/components/ui/Card.tsx
Labels: 🎨 Style, 🪟 Frontend

#50 Features/bento component homepage
  frontend/.eslintjscache
  frontend/src/config/theme.tsx
  frontend/src/features/home/infos/.gitkeep
  frontend/src/features/home/infos/BentoGrid.tsx
  frontend/src/features/navigation/components/Navbar.tsx
  frontend/src/features/navigation/components/SubNavbar.tsx
  frontend/src/layouts/Layout.tsx
  frontend/src/pages/index.tsx
  frontend/src/shared/components/SearchBar.tsx
Labels: 🎁 Feature, 🪟 Frontend

#53 Feature/hero #7
  .husky/pre-commit
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/Hero.png
  frontend/public/images/HeroMobile.png
  frontend/src/features/home/welcome/.gitkeep
  frontend/src/features/home/welcome/Welcome.tsx
  frontend/src/features/home/welcome/components/HeroCarousel.tsx
  frontend/src/layouts/Layout.tsx
  frontend/src/pages/index.tsx
Labels: 🎁 Feature, 🪟 Frontend

#54 Features/register component
  frontend/src/features/auth/login/LoginForm.tsx
  frontend/src/features/auth/signup/SignupForm.tsx
  frontend/src/graphql/User/CreateUser.gql
  frontend/src/graphql/generated/schema.ts
  frontend/src/pages/signup.tsx
  frontend/src/shared/components/ui/Card.tsx
Labels: 🎁 Feature, 🪟 Frontend

#58 Feature/admin table
  frontend/.eslintjscache
  frontend/.gitignore
  frontend/src/features/admin/helpers/dummyOrders.ts
  frontend/src/features/admin/helpers/tableHeaders.ts
  frontend/src/features/admin/table/.gitkeep
  frontend/src/features/admin/table/AdminTableBody.tsx
  frontend/src/features/admin/table/AdminTableFooter.tsx
  frontend/src/features/admin/types.ts
  frontend/src/features/navigation/components/SideNavbar.tsx
  frontend/src/layouts/LayoutAdmin.tsx
  frontend/src/pages/admin/orders/index.tsx
  frontend/src/shared/components/ui/Button.tsx
Labels: 🎁 Feature, 🪟 Frontend
