Repository WildCodeSchool/2023-11-wns-bleu-g4, pull requests merged in 2024-07, with the labels that each got.

#118 FAQ component
  frontend/i18next-parser.config.js
  frontend/public/static/locales/en/SubNav.json
  frontend/public/static/locales/en/Welcome.json
  frontend/public/static/locales/en/faq.json
  frontend/public/static/locales/fr/SubNav.json
  frontend/public/static/locales/fr/faq.json
  frontend/public/svg/plus.svg
  frontend/src/config/theme.tsx
  frontend/src/features/home/faq/.gitkeep
  frontend/src/features/home/faq/FaqSection.tsx
  frontend/src/features/home/faq/components/FaqComponent.tsx
  frontend/src/features/home/faq/components/FaqSideTitle.tsx
  frontend/src/pages/index.tsx
  frontend/src/shared/components/ui/Accordion.tsx
Labels: 🎁 Feature, 🪟 Frontend

#119 Fix token headers in cookies
  frontend/public/static/locales/en/Navbar.json
  frontend/public/static/locales/fr/Navbar.json
  frontend/src/features/auth/login/LoginForm.tsx
  frontend/src/features/navigation/components/Navbar.tsx
  frontend/src/graphql/Review/.gitkeep
  frontend/src/graphql/Review/CreateReview.gql
  frontend/src/graphql/Review/DeleteReview.gql
  frontend/src/graphql/Review/GetAllReviews.gql
  frontend/src/graphql/Review/GetReviewById.gql
  frontend/src/graphql/Review/GetReviewsByProductId.gql
  frontend/src/graphql/Review/GetReviewsByUserId.gql
  frontend/src/graphql/Review/UpdateReview.gql
  frontend/src/graphql/Review/generated/CreateReview.generated.ts
  frontend/src/graphql/Review/generated/DeleteReview.generated.ts
  frontend/src/graphql/Review/generated/GetAllReviews.generated.ts
  frontend/src/graphql/Review/generated/GetReviewById.generated.ts
  frontend/src/graphql/Review/generated/GetReviewsByProductId.generated.ts
  frontend/src/graphql/Review/generated/GetReviewsByUserId.generated.ts
  frontend/src/graphql/Review/generated/UpdateReview.generated.ts
  frontend/src/graphql/SubCategory/CreateSubCategory.gql
  frontend/src/graphql/SubCategory/DeleteSubCategory.gql
  frontend/src/graphql/SubCategory/GetAllSubCategories.gql
  frontend/src/graphql/SubCategory/GetSubCategoryById.gql
  frontend/src/graphql/SubCategory/UpdateSubCategory.gql
  frontend/src/graphql/SubCategory/generated/CreateSubCategory.generated.ts
  frontend/src/graphql/SubCategory/generated/DeleteSubCategory.generated.ts
  frontend/src/graphql/SubCategory/generated/GetAllSubCategories.generated.ts
  frontend/src/graphql/SubCategory/generated/GetSubCategoryById.generated.ts
  frontend/src/graphql/SubCategory/generated/UpdateSubCategory.generated.ts
  frontend/src/graphql/User/Logout.gql
  frontend/src/graphql/User/Profile.gql
  frontend/src/graphql/User/generated/Logout.generated.ts
  frontend/src/graphql/User/generated/Profile.generated.ts
  frontend/src/graphql/client.ts
  frontend/src/graphql/generated/schema.ts
Labels: 🔧 Fix

#124 Feature/customers
  backend/package-lock.json
  backend/src/entities/User.ts
  backend/src/resolvers/UserResolver.ts
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/src/features/admin/table/CustomerTableBody.tsx
  frontend/src/features/admin/table/TableFooter.tsx
  frontend/src/graphql/User/GetAllUsers.gql
  frontend/src/graphql/User/generated/GetAllUsers.generated.ts
  frontend/src/graphql/generated/schema.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/admin/customers/index.tsx
Labels: 🎁 Feature, 🚪 Backend, 🪟 Frontend

#131 fix: 🐛 Fix of getAllCategories schema name
  frontend/src/features/admin/categories/modal/CategoryUpdateModal.tsx
  frontend/src/features/admin/categories/table/CategoryTableBody.tsx
  frontend/src/features/home/categories/CardItemCarousel.tsx
  frontend/src/graphql/Category/generated/getAllCats.generated.ts
  frontend/src/graphql/Category/getAllCats.gql
Labels: 🔧 Fix

#133 Feature/admin panel access
  backend/src/resolvers/UserResolver.ts
  frontend/.env.sample
  frontend/package-lock.json
  frontend/package.json
  frontend/public/static/locales/en/AddToBasketButton.json
  frontend/public/static/locales/en/BasketDrawer.json
  frontend/public/static/locales/en/BasketPage.json
  frontend/public/static/locales/en/Bento.json
  frontend/public/static/locales/en/CategoryTableBody.json
  frontend/public/static/locales/en/DateRangePicker.json
  frontend/public/static/locales/en/Footer.json
  frontend/public/static/locales/en/LoginForm.json
  frontend/public/static/locales/en/Navbar.json
  frontend/public/static/locales/en/OrderDetailsDropdown.json
  frontend/public/static/locales/en/OrderTableBody.json
  frontend/public/static/locales/en/ParentCategoryTableBody.json
  frontend/public/static/locales/en/ProductCharacteristic.json
  frontend/public/static/locales/en/ProductStockTableBody.json
  frontend/public/static/locales/en/ProductTableBody.json
  frontend/public/static/locales/en/ProductTableBody_old.json
  frontend/public/static/locales/en/SignupForm.json
  frontend/public/static/locales/en/SubNav.json
  frontend/public/static/locales/en/TableFooter.json
  frontend/public/static/locales/en/Welcome.json
  frontend/public/static/locales/en/faq.json
  frontend/public/static/locales/en/productDetails.json
  frontend/public/static/locales/fr/AddToBasketButton.json
  frontend/public/static/locales/fr/BasketDrawer.json
  frontend/public/static/locales/fr/BasketPage.json
  frontend/public/static/locales/fr/Bento.json
  frontend/public/static/locales/fr/CategoryTableBody.json
  frontend/public/static/locales/fr/DateRangePicker.json
  frontend/public/static/locales/fr/Footer.json
  frontend/public/static/locales/fr/LoginForm.json
  frontend/public/static/locales/fr/Navbar.json
  frontend/public/static/locales/fr/OrderDetailsDropdown.json
  frontend/public/static/locales/fr/OrderTableBody.json
  frontend/public/static/locales/fr/ParentCategoryTableBody.json
  frontend/public/static/locales/fr/ProductCharacteristic.json
  frontend/public/static/locales/fr/ProductStockTableBody.json
  frontend/public/static/locales/fr/ProductTableBody.json
  frontend/public/static/locales/fr/ProductTableBody_old.json
  frontend/public/static/locales/fr/SignupForm.json
  frontend/public/static/locales/fr/SubNav.json
  frontend/public/static/locales/fr/TableFooter.json
  frontend/public/static/locales/fr/Welcome.json
  frontend/public/static/locales/fr/faq.json
  frontend/public/static/locales/fr/productDetails.json
  frontend/src/features/admin/product/ProductDetails.tsx
  frontend/src/features/admin/product/modal/ProductCharUpdateModal.tsx
  frontend/src/features/home/categories/CardItem.tsx
  frontend/src/features/navigation/components/Navbar.tsx
  frontend/src/graphql/User/Profile.gql
  frontend/src/graphql/User/generated/Profile.generated.ts
  frontend/src/middleware.ts
  frontend/src/pages/admin/categories/index.tsx
Labels: 🎁 Feature, 🪟 Frontend

#139 Feature/product db
  .DS_Store
  .gitignore
  backend/src/data/ekosport/allProducts.json
  backend/src/entities/ProductPicture.ts
  backend/src/resetDb.ts
  backend/src/types.ts
  backend/tsconfig.json
  frontend/src/features/product/ProductPage.tsx
  frontend/src/features/product/galeryComponent/GaleryComponent.tsx
Labels: 🚪 Backend

#146 Feature/searchbar GetAllproduct
  backend/src/entities/Product.ts
  frontend/public/static/locales/en/Navbar.json
  frontend/public/static/locales/fr/Navbar.json
  frontend/src/features/shop/Pagination.tsx
  frontend/src/graphql/Product/generated/getAllProducts.generated.ts
  frontend/src/graphql/Product/getAllProducts.gql
  frontend/src/graphql/generated/schema.ts
  frontend/src/pages/shop.tsx
  frontend/src/shared/components/SearchBar.tsx
Labels: 🚪 Backend, 🪟 Frontend

#147 Feature/admin booking
  backend/src/entities/BookingItem.ts
  backend/src/entities/Category.ts
  backend/src/entities/ProductCode.ts
  backend/src/enum/StatusBooking.ts
  backend/src/resetDb.ts
  backend/src/resolvers/BookingItemResolver.ts
  backend/src/resolvers/BookingResolver.ts
  backend/src/resolvers/ProductResolver.ts
  backend/src/types.ts
  frontend/src/features/admin/helpers/dummyOrders.ts
  frontend/src/features/admin/helpers/tableHeaders.ts
  frontend/src/features/admin/orders/OrderCancelModal.tsx
  frontend/src/features/admin/orders/OrderDetailsRow.tsx
  frontend/src/features/admin/orders/OrderDetailsStatus.tsx
  frontend/src/features/admin/orders/OrderDetailsTable.tsx
  frontend/src/features/admin/orders/OrderTableBody.tsx
  frontend/src/features/admin/orders/types.ts
  frontend/src/features/admin/product/modal/ProductPictureAddModal.tsx
  frontend/src/features/admin/product/types.ts
  frontend/src/features/admin/table/CustomerTableBody.tsx
  frontend/src/features/admin/table/OrderTableBody.tsx
  frontend/src/features/admin/table/orderDetailsDropdown.tsx
  frontend/src/graphql/Booking/CancelBooking.gql
  frontend/src/graphql/Booking/GetAllBooking.gql
  frontend/src/graphql/Booking/generated/CancelBooking.generated.ts
  frontend/src/graphql/Booking/generated/GetAllBooking.generated.ts
  frontend/src/graphql/BookingItem/.gitkeep
  frontend/src/graphql/BookingItem/generated/getBookingItemByBookingId.generated.ts
  frontend/src/graphql/BookingItem/getBookingItemByBookingId.gql
  frontend/src/graphql/generated/schema.ts
  frontend/src/pages/admin/orders/index.tsx
Labels: 🎁 Feature, 🚪 Backend, 🪟 Frontend

#148 Feature/user email confirm
  backend/src/entities/Review.ts
  backend/src/entities/User.ts
  backend/src/resetDb.ts
  backend/src/resolvers/UserResolver.ts
  backend/tsconfig.json
  frontend/src/features/admin/brand/BrandCreateModal.tsx
  frontend/src/features/admin/brand/BrandUpdateModal.tsx
  frontend/src/features/admin/categories/modal/CategoryCreateModal.tsx
  frontend/src/features/admin/categories/modal/CategoryUpdateModal.tsx
  frontend/src/features/admin/categories/modal/ParentCategoryCreateModal.tsx
  frontend/src/features/admin/categories/modal/ParentCategoryUpdateModal.tsx
  frontend/src/features/admin/characteristic/CharacteristicCreateModal.tsx
  frontend/src/features/admin/characteristic/CharacteristicUpdateModal.tsx
  frontend/src/features/admin/product/modal/ProductCreateModal.tsx
  frontend/src/features/admin/product/table/ProductTableBody.tsx
  frontend/src/features/auth/signup/SignupForm.tsx
  frontend/src/features/navigation/components/SideNavbar.tsx
  frontend/src/graphql/User/confirmEmail.gql
  frontend/src/graphql/User/generated/confirmEmail.generated.ts
  frontend/src/graphql/generated/schema.ts
  frontend/src/pages/admin/categories/index.tsx
  frontend/src/pages/admin/characteristics/index.tsx
  frontend/src/pages/admin/orders/index.tsx
  frontend/src/pages/confirmEmail.tsx
Labels: 🎁 Feature, 🔧 Fix, 🚪 Backend, 🪟 Frontend
